<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.messy.pictorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Pictorial"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="com.messy.pictorial.locker"
            android:theme="@style/AppTheme.LockScreen" />

        <service
            android:name=".LockService"
            android:enabled="true"
            android:exported="false"
            android:process=":lock" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.messy.pictorial.ACTION_USER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LockScreenReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.Settings" />
        <activity
            android:name=".PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_preview"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.messy.pictorial.MainActivity" />
        </activity>

        <receiver android:name=".Toggle">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggle_info" />
        </receiver>

        <activity
            android:name=".QuickToggleShortcut"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".Welcome"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="welcome"
                    android:scheme="messy" />
            </intent-filter>
        </activity>
    </application>

</manifest>